/* TODO Add site wide styles */
.header {
    border-bottom: 1px solid;
    border-color: rgb(180, 176, 176);

}

.spot-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.preview-images {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    border: 0px solid;
    padding: 0px;
}


#spot-tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#name-rating {
    align-self: flex-start;
    color: #363634;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}

a {
    text-decoration: none;
    color: black;
  }

.nav-link.active {
    text-decoration: none;
    color: black
  }

#location-price {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;

}

#location {
    margin: 0px;
    color: #040404;

}

#price{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000000;
}

#spot-properties {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.host-description-p {
    font-size: 25px;
    margin-top: 0px;
}
.host-description-p1 {
    font-size: 20px;
    margin-top: 0px;
}

.callout-box {
    border-radius: 25px;
    border: 0px solid rgb(109, 109, 109);
    padding: 20px;
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.price-rating-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 45px;
}

.price {
    font-size: 25px;
}

.night {
    font-size: 18px;
}

.review-count-rating {
    font-size: 10px;
}

.detail-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}

.host-description-container {
    display: flex;
    flex-direction: column;
}

.reserve-button {
    background-color: #ff5361;
    width: -webkit-fill-available;
}

.each-review{
    display: flex;
    border-bottom: 1px solid;
}

.reviewer-name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0px;
}

.review-date {
    font-weight: lighter;
    color: rgb(86, 85, 85);
    margin-top: 0px;

}

h3 {
    margin: 0px
}


.star-rating{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.star {
    padding-right: 0px;
    margin: 0px;
    font-size: 14px;
}

.spot-detail-page {
    margin: 25px;
}

.on {
    color: #d41089;
}

.off {
    color: #ffffff;
}

.toolTip:hover .toolTipText {
    visibility: visible;
}

.toolTip .toolTipText {
    visibility: hidden;
    width: 120px;
    background-color: rgb(58, 53, 53);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.toolTip .toolTipText::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(58, 53, 53) transparent transparent transparent;
}

.toolTip {
    position: relative;
    display: inline-block;
    padding: 0px;
    width: 300px;
    height: 350px;
}

.inputBox {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.spots-page{
    padding: 0px;
}

.create-update-button {
    margin-top: 10px;
}

.post-review-button {
    border-radius: 10px;
}

.update-create-form-input {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: stretch;
    gap: 10px
}

.section-container {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.section-container section {
    display: flex;
}

textarea {
    width: 400px;
    height: 150px

}

.remove-spot-button {
    background-color: rgb(240, 124, 124);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.update-spot-button {
    background-color: rgb(237, 225, 241);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.manage-spots-container {
    display: flex;
}

.display-review-rating-count {
    font-size: 20px;
}
