.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.profile-dropdown.hidden {
    display: none;
}

#login-sign-up-buttons {
    display: flex;
    flex-direction: row-reverse;
}

.active {
    color: black;
}

.open-menu-container {
    display: flex;
    flex-direction: column;
}
